<div class="flex items-stretch">
  <main class="flex-1 p-8">
    <div class="mb-6">
      <!-- Header Title-->
      <h2 class="text-3xl font-bold text-foreground mb-2">{{config().title}}</h2>
      <p class="text-md text-slate-400 leading-relaxed max-w-2xl">{{config().description}}</p>

      <!-- Tabs -->
      <div class="border-b border-card-border mt-8">
        <nav class="flex gap-8">
          <button class="pb-3 border-b-2 border-primary text-primary font-medium text-sm">Preview</button>
          <button disabled
            class="pb-3 border-b-2 border-transparent text-slate-400 hover:text-foreground font-medium text-sm transition-colors disabled:opacity-30">Documentação</button>
          <button disabled
            class="pb-3 border-b-2 border-transparent text-slate-400 hover:text-foreground font-medium text-sm transition-colors disabled:opacity-30">Acessibilidade</button>
        </nav>
      </div>
    </div>

    <!-- Component Playground -->
    <div>
      <p class="text-lg font-semibold text-foreground mb-4">Playground interativo</p>

      <!-- Canvas -->
      <div class="border border-card-border rounded-xl overflow-hidden shadow-md bg-blue-600">
        <!-- Grid lines overlay (optional aesthetic) -->
        <div class="checkerboard h-[320px] w-full flex items-center justify-center relative" [style]="checkerboard">
          <div class="absolute inset-0 pointer-events-none" [style]="stylesCanvas"></div>

          <!-- The Component -->
          <div class="w-full max-w-sm space-y-2 z-10">
            <ng-content select="[preview]"></ng-content>
          </div>
        </div>

        <!-- Code Snippet -->
        <div class="bg-card-background border-t border-border-dark">
          <div class="flex items-center justify-end px-4 py-2 border-b border-card-border">
            <button class="text-foreground flex items-center gap-1.5 text-xs font-medium" (click)="onClickCopy()">
              Copiar
            </button>
          </div>
          <div class="p-4 overflow-x-auto">
            <pre class="font-mono text-sm leading-relaxed text-foreground"><code>{{ codeSnippet() }}</code></pre>
          </div>
        </div>
      </div>


      <div class="space-y-6 pt-6">
        <p class="text-lg font-semibold text-foreground mb-4">Exemplo:</p>

        <ng-content select="[exemplo]"></ng-content>
      </div>
    </div>
  </main>

  <aside class="w-90 border-l border-card-border">
    <!-- Tabs -->
    <div class="border-b border-card-border mb-4">
      <nav class="flex justify-center">
        <button class="flex-1 h-12 py-3 border-b-2 border-primary text-primary font-medium text-sm">Preview</button>
      </nav>
    </div>

    <!-- Properties Panel -->
    <div class="flex-1 overflow-y-auto p-5 space-y-8">
      <div class="space-y-5">
        <ng-content select="[controle-componente]"></ng-content>
      </div>
    </div>
  </aside>
</div>
