@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Light (default) */
:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);

  /* Card styles */
  --card-color-background: var(--color-white);
  --card-color-border: var(--color-neutral-100);

    /* Skeleton styles */
  --skeleton-from: var(--color-neutral-100);
  --skeleton-via: var(--color-neutral-200);
  --skeleton-to: var(--color-neutral-100);
}

/* Dark */
[data-theme="dark"] {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);

  /* Card styles */
  --card-color-background: var(--color-neutral-900);
  --card-color-border: var(--color-neutral-800);

  /* Skeleton styles */
  --skeleton-from: var(--color-neutral-900);
  --skeleton-via: var(--color-neutral-800);
  --skeleton-to: var(--color-neutral-900);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

    /* Card styles */
  --color-card-background: var(--card-color-background);
  --color-card-border: var(--card-color-border);

    /* Text styles */
  --text-base: 14px;

  /* Skeleton styles */
  --color-skeleton-from: var(--skeleton-from);
  --color-skeleton-via: var(--skeleton-via);
  --color-skeleton-to: var(--skeleton-to);

  --color-primary-50: #fffce7;
  --color-primary-100: #fffbc1;
  --color-primary-200: #fff487;
  --color-primary-300: #ffe642;
  --color-primary-400: #ffd40f;
  --color-primary-500: #f1bb02; /* Base */
  --color-primary-600: #cf9000;
  --color-primary-700: #a56603;
  --color-primary-800: #884f0b;
  --color-primary-900: #74410f;
  --color-primary-950: #442104;

  --color-secondary-50: #ebfef6;
  --color-secondary-100: #cefde7;
  --color-secondary-200: #a2f8d5;
  --color-secondary-300: #66efc0;
  --color-secondary-400: #29dea6;
  --color-secondary-500: #05c48f;
  --color-secondary-600: #00a076;
  --color-secondary-700: #008061;
  --color-secondary-800: #00654e; /* Base */
  --color-secondary-900: #015341;
  --color-secondary-950: #002f25;

  /* Semantic colors */
  --color-danger-50: #ffeeee;
  --color-danger-100: #ffdada;
  --color-danger-200: #ffbbbb;
  --color-danger-300: #ff8b8b;
  --color-danger-400: #ff4949;
  --color-danger-500: #ff1111;
  --color-danger-600: #ff0000;
  --color-danger-700: #e70000;
  --color-danger-800: #be0000;
  --color-danger-900: #a80000;
  --color-danger-950: #560000;

  --color-info-50: #e5f2ff;
  --color-info-100: #cfe8ff;
  --color-info-200: #a9d1ff;
  --color-info-300: #75b0ff;
  --color-info-400: #3f7dff;
  --color-info-500: #144bff;
  --color-info-600: #0033ff;
  --color-info-700: #0034ff;
  --color-info-800: #002ee3;
  --color-info-900: #001ca8;
  --color-info-950: #000e66;

  --color-warning-50: #fefee8;
  --color-warning-100: #ffffc2;
  --color-warning-200: #fffc88;
  --color-warning-300: #fff343;
  --color-warning-400: #ffe410;
  --color-warning-500: #efca03;
  --color-warning-600: #dca800;
  --color-warning-700: #a47104;
  --color-warning-800: #87580c;
  --color-warning-900: #734810;
  --color-warning-950: #432505;

  --color-success-50: #f0ffe4;
  --color-success-100: #dcffc5;
  --color-success-200: #bbff92;
  --color-success-300: #8fff53;
  --color-success-400: #66fb20;
  --color-success-500: #42db00;
  --color-success-600: #31b500;
  --color-success-700: #268902;
  --color-success-800: #226c08;
  --color-success-900: #1f5b0c;
  --color-success-950: #0b3300;

  --color-neutral-50: #f7f7f8;
  --color-neutral-100: #eeeef0;
  --color-neutral-200: #d9d9de;
  --color-neutral-300: #b8b9c1;
  --color-neutral-400: #91939f;
  --color-neutral-500: #737584;
  --color-neutral-600: #4c4d58;
  --color-neutral-700: #41414b;
  --color-neutral-800: #393941;
  --color-neutral-900: #18181b;
  --color-neutral-950: #0e0e11;

  --color-white: #FFFFFF;
  --color-black: #000000;
}

/* Animação shimmer */
@keyframes skeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Utilitário */
.animate-skeleton {
  animation: skeleton 1.5s ease-in-out infinite;
}

